body {
    margin: 3%;

    h5 {
        color: $secondary-color;
    }

    span.highlight {
        color: $secondary-color;
    }

    header {
        z-index: 1;

        .top-bar {
            text-align: center;
        }

        .sticky {
            width: 100%;
        }

        div.columns {
            min-height: 0;
        }

        .logo {
            width: 300px;
            padding: 1.2em;
        }

        // Change the breadcrumb object
        nav.top-bar-right {
            ul.breadcrumbs {
                display: inline-block;

                li {
                    a {
                        font-size: 1.1em;
                    }
                }

                li:before {
                    content: "➥";
                    margin-right: 8px;
                    color: #aaa;
                }

                li:first-child:before {
                    content: " ";
                }
            }
        }
    }

    div.columns {
        min-height: 150px;
        padding: 0;
    }

    main {
        div.row {
            padding-top: 5%;
        }

        div.row:first-child {
            div.columns {
                min-height: 0;
            }
        }

        div.media-object-section {
            text-align: center;

            div.pic-container {
                width: 66.66%;
                border-radius: 50%;
                box-shadow: none;

                img#bio-pic {
                    max-width: 100%;
                    border-radius: 50%;
                }
            }

            .thumbnail {
                border: solid 8px white;
            }
        }

        // Icons
        div#social {
            ul.menu {
                text-align: center;

                li {
                    display: inline-block;
                }

                .icons {
                    font-size: 2rem;
                }

                .fi-social-github {
                    color: $black;
                }

                .fi-mail {
                    color: $alert-color;
                }

                .fi-social-linkedin {
                    color: $primary-color;
                }

                .fi-social-medium {
                    color: $success-color;
                }

                .fi-social-facebook {
                    color: $primary-color;
                }
            }
        }
    }

    // Parallax
    .parallax {
        perspective: 1px;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        perspective-origin-x: 100%;
        background: url('../images/background.png');
    }

    .parallax-layer {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform-origin-x: 100%;
    }

    .parallax-layer--base {
        transform: translateZ(0);
    }

    .parallax-layer--back {
        transform: translateZ(-2px) scale(4);
        z-index: -1;
    }

    footer {
        div.accordion-content {
            p {
                text-align: center;
            }

            ul {
                list-style-type: none;
                text-align: center;

                li {
                    display: inline-block;
                    margin: 0 2%;
                }
            }
        }
    }

    .cd-timeline-block {
        div {
            padding: 5%;
        }

        .cd-timeline-content {
            margin: 0 -5px;
        }

        .cd-timeline-img {
            padding: 2%;

            img {
                max-width: 75%;
                margin-left: 5%;
            }
        }

        .cd-timeline-content:nth-child(odd) {
            border-right: 3px dashed white;
        }

        .cd-timeline-content:nth-child(even) {
            position: relative;
            border-left: 3px dashed white;
        }
    }
}

@media only screen and (min-width: 425px) {
    body {
        header {
            margin: 0 5%;

            nav.top-bar-right {
                ul.breadcrumbs {
                    display: inline-block;
                    padding-top: 2em;

                    li {
                        a {
                            font-size: 1.4em;
                        }
                    }
                }
            }
        }

        main {
            div#social {
                ul.menu {
                    .icons {
                        font-size: 3rem;
                    }
                }
            }
            div.columns {
                min-height: 400px;
            }
        }
    }
}
